.body-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-root);
  color: var(--text-primary);

  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .register-left {
      background-color: var(--bg-header);
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 400px;
      max-width: 90%;

      h2 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }

      .register-form {
        margin-top: 1rem;

        label {
          display: block;
          margin-bottom: 0.5rem;
          font-weight: bold;
        }

        input {
          width: 100%;
          padding: 0.75rem;
          margin-bottom: 1rem;
          border: 1px solid var(--border);
          border-radius: 4px;
          font-size: 1rem;
        }

        button {
          width: 100%;
          padding: 0.75rem;
          background-color: var(--button-primary);
          color: white;
          font-size: 1rem;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: var(--link);
          }
        }
      }

      .otp-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .timer {
          font-size: 1rem;
          margin-left: 10px;
          color: red;
        }
      }
    }
  }
}
